version: '3.4'
services:
  gateway-dev:
    hostname: gateway-dev
    image: caapim/gateway:9.3.00
    ports:
      - "8080:8080"
      - "8443:8443"
      - "9443:9443"
      - "8000:8000"
      - "8081:8081"
    volumes:
      - /opt/SecureSpan/Gateway/node/default/etc/bootstrap/services/restman
      - ./license.xml:/opt/SecureSpan/Gateway/node/default/etc/bootstrap/license/license.xml
      - ./build/libs/Hello-World-Assertion-0.1.01.aar:/opt/SecureSpan/Gateway/runtime/modules/assertions/Hello-World-Assertion-0.1.01.aar
      - ./docker/helloworld.req.bundle:/opt/SecureSpan/Gateway/node/default/etc/bootstrap/bundle/helloworld.req.bundle
    environment:
      ACCEPT_LICENSE: "true"
      SSG_ADMIN_USERNAME: "admin"
      SSG_ADMIN_PASSWORD: "password"
      EXTRA_JAVA_ARGS: "-Xdebug -Xrunjdwp:transport=dt_socket,address=8000,server=y,suspend=n"
